body{
margin: 0;
padding: 0;
width: 100%;
font-family: 'Lobster', cursive;
background: linear-gradient(yellow,white);
} 

.listbox{
	
	margin: auto;
	width: 300px;
	margin-top: 100px;
	border: solid;
}
.list{
 margin: auto;
}

.header{
	padding: 10px;
	text-align: center;
	border-bottom: dotted;
	background-color: rgba(0,0,0,.2);
}


input[type="checkbox"]{
	float: right;
}

label {
	float: left:
	
}
.listitem{
	background-color: rgba(0,0,0,.2);
}
li{
	/* padding: 10px; */
	list-style: none;
	
}

input[type="checkbox"]:Checked +label {
	text-decoration: line-through;
	color: green;
}
ul{
	
}